backend/linenv/
frontend/node_modules/
backend/.env
backend/analytics/__pycache__/
backend/chat/__pycache__/
backend/document_management/__pycache__/
backend/documents/__pycache__/
backend/users/__pycache__/